@media (max-width: 1200px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper{
            align-items: center;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .advantage {
        &__ic {
            font-size: 13px;
        }
    }
    .consultation {
        .title {
            display: block;
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .carousel {
        &__inner {
            position: relative;
            width: 680px;
            img {
                display: block;
                width: 100%;
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                li {
                   list-style: none;
                   margin: 0 15px;
                }
                button {
                   display: block;
                   padding: 0;
                   font-size: 0;
                   width: 13px;
                   height: 13px;
                   border-radius: 50%;
                   border: none;
                   background-color: #716b75;
                }
                li.slick-active {
                    button {
                        background-color: transparent;
                        border: 1px solid #ab44eb ;
                    }
                }
            }    
        }   
    }
    .catalog {
        &__content {
            &_active {
                justify-content: center;
            }
        }
        &-item {
            margin-right: 20px;
        }
    }
    .footer {
        &__info {
            width: 380px;
            height: 215px;
            padding: 20px;
        }
        &__adre {
            font-size: 18px;
            text-align: center;
        }
        &__phone {
            font-size: 19px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 160px;
        }
    }
    .promo {
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 19px;
        }
    }
    .button {
        &__main {
            width: 245px;
            font-size: 14px;
        }
        &_mini {
            width: 80px;
        }
    }

    .advantage {
        padding-bottom: 30px;
        &__subheader {
            font-size: 25px;
        }
        &__wrap {
            flex-direction: column;
            align-items: center;
        }
        &__ic {
            margin-bottom: 30px;
            span {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .consultation {
        .title {
            display: block;
            font-size: 31px;
        }
    } 
    .carousel {
        .container {
            padding: 0;
        }
        &__inner {
            position: relative;
            width: 550px;
            img {
                display: block;
                width: 100%;
            }
        }    
    }
    .catalog {
        &__tab{
          font-size: 17px;  
        }
        &-item {
            width: 230px;
            min-height: 400px;
            padding: 10px;
            &__img {
               height: 170px; 
            }
            &__subtitle {
                font-size: 15px;
                margin-top: 15px;
            }
            &__descr {
                margin-top: 10px;
            }
            &__wrapper {
                width: calc(200% + 20px);
            }
            &__list{
                li {
                    font-size: 13px;
                }
            }
        }
            
            
        
    }   
} 

@media (max-width: 575px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .header {
        flex-wrap: wrap;
        &__logo{
            width: 220px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            align-items: center;
            font-size: 17px;
            button {
                display: none;
            }
        }
        
    }
    .promo {
        padding-bottom: 49px;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 12px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            width: 0px;
        }
        &__icon {
            margin-bottom: 30px;
        }
    }
    .button {
        &__main {
            width: 200px;
            font-size: 13px;
            margin-top: 20px;
        }
    }
    .advantage {
        &__subheader {
            font-size: 22px;
        }
    }
    .consultation{
        .title {
            font-size: 26px;
        }
        &__descr {
            font-size: 17px;
        }
        .feed-form {
            width: 250px;
        }
        button {
            &__submit {
                font-size: 15px;
            }
            &_mini {
                width: 50px;
                font-size: 10px;
            }
        }    
    }
    .title {
        &__cat {
            font-size: 24px;
        }
    }
    .carousel {
        &__inner {
            position: relative;
            width: 350px;
            img {
                display: block;
                width: 100%;
            }
            .slick-dots {
                padding-left: 0;
            }
        }    
    }
    .catalog {
        .container {
            padding: 0 10px;
        }
        &__tab {
            width: 100px;
            font-size: 10px;
            margin: 0;
        }
        &-item {
            width: 150px;
            min-height: 300px;
            padding: 10px;
            &__img {
               height: 100px; 
            }
            &__subtitle {
                font-size: 13px;
                margin-top: 10px;
            }
            &__descr {
                margin-top: 10px;
                font-size: 10px;
                line-height: 1em;
            }
            &__wrapper {
                width: calc(200% + 20px);
            }
            &__link {
                font-size: 12px;
            }
            &__back {
                font-size: 12px;
            }
            &__content {
                padding-right: 5px;
                &_active {
                    margin-right: 10px;
                }
            }
            &__list{
                margin-left: 10px;
                &_active {
                    margin-left: 0;
                    padding-right: 10px;
                    padding-left: 12px;
                }
                li {
                    font-size: 8px;
                    margin-bottom: 10px;
                }
            }
            
            &__old-price {
                font-size: 11px;
            }
            &__price {
                font-size: 14px;
                line-height: 1em;
            }
            
        }    
            
            
        
    }
    .reviews {
        .container {
            padding: 0 10px;
        }
        &__photo {
            margin-right: 30px;
            img {
                display: block;
                width: 109px;
            }
        }
        &__text {
            font-size: 12px;
        }
    }
    .footer {
        &__info {
            width: 290px;
            height: 160px;
            padding: 5px;
        }
        &__adre {
            font-size: 14px;
            text-align: center;
            margin-bottom: 12px;
        }
        &__phone {
            font-size: 14px;
        }
        &__social-item {
            img {
                display: block;
                width: 40px;
            }
        }
    }
    .overlay {
        .modal {
            width: 350px;
            &__close {
                right: -2px;
                top: -30px;
            }
        }
    } 
    .feed-form {
        width: 270px;
    }  
}    