@media (max-width: 1200px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper{
            align-items: center;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .consultation {
        .title {
            display: block;
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .carousel {
        &__inner {
            position: relative;
            width: 680px;
            img {
                display: block;
                width: 100%;
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                li {
                   list-style: none;
                   margin: 0 15px;
                }
                button {
                   display: block;
                   padding: 0;
                   font-size: 0;
                   width: 13px;
                   height: 13px;
                   border-radius: 50%;
                   border: none;
                   background-color: #716b75;
                }
                li.slick-active {
                    button {
                        background-color: transparent;
                        border: 1px solid #ab44eb ;
                    }
                }
            }    
        }   
    }
    .catalog {
        &__content {
            &_active {
                justify-content: center;
            }
        }
        &-item {
            margin-right: 20px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 160px;
        }
    }
    .promo {
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 19px;
        }
    }
    .button {
        &__main {
            width: 245px;
            font-size: 14px;
        }
    }

    .advantage {
        padding-bottom: 30px;
        &__subheader {
            font-size: 25px;
        }
        &__wrap {
            flex-direction: column;
            align-items: center;
        }
    }
    .consultation {
        .title {
            display: block;
            font-size: 33px;
        }
    } 
    .carousel {
        &__inner {
            position: relative;
            width: 550px;
            img {
                display: block;
                width: 100%;
            }
        }    
    }   
} 

@media (max-width: 575px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .header {
        flex-wrap: wrap;
        &__logo{
            width: 220px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            align-items: center;
            font-size: 17px;
            button {
                display: none;
            }
        }
        
    }
    .promo {
        padding-bottom: 49px;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 12px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            width: 0px;
        }
        &__icon {
            margin-bottom: 30px;
        }
    }
    .button {
        &__main {
            width: 200px;
            font-size: 13px;
            margin-top: 20px;
        }
    }
    .advantage {
        &__subheader {
            font-size: 22px;
        }
    }
    .consultation{
        .title {
            font-size: 26px;
        }
        &__descr {
            font-size: 17px;
        }
        .feed-form {
            width: 250px;
        }
        button {
            &__submit {
                font-size: 15px;
            }
        }    
    }
    .title {
        &__cat {
            font-size: 24px;
        }
    }
    .carousel {
        &__inner {
            position: relative;
            width: 350px;
            img {
                display: block;
                width: 100%;
            }
            .slick-dots {
                padding-left: 0;
            }
        }    
    }
    .catalog {
        &__tab {
            width: 100px;
            font-size: 10px;
            margin: 0;
        }
        
    }   
}    