* {
    font-family: 'MuseoModerno', cursive;
} 

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import "media";
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
