.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 68px 60px 68px;
        width: 460px;
        height: 270px;
        background-color: #c70101;
    }
    &__adre {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }
    &__phone {
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 25px;
        &:hover {
            color: #ffff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
    }
    &__social-item {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 15px;
    }
}