.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;
    &__close {
        position: absolute;
        width: 21px;
        height: 21px;
        top: -1px;
        right: -40px;
        cursor: pointer;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #c70101;
            &:nth-child(1) {
                transform: translateY(9px) rotate(-45deg);
            }
            &:nth-child(2) {
                transform: translateY(7px) rotate(45deg);
            }
        }
    }
    &__subtitle {
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #0d0d0d;
        margin-bottom: 12px;
    }
    &__text {
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: #0d0d0d;
    }
    &_mini {
        min-height: 140px;
        padding: 38px 75px 40px 82px;
    }
    .error {
        margin-bottom: 13px;
        font-size: 13px;
    }
    input.error {
        border: solid 1px red;
    }
}

#consultation, #order, #thanks {
    display: none;
}